.equipment {
    margin-bottom: 5.5rem;
    
    .container {
        position: relative;
        padding-bottom: 6.5rem;
    }

    .section-title {
        margin-bottom: 3rem;
    }
}

.equipment__item {
    width: 100%;
    padding: 7rem 6rem 4.5rem;
    background-color: $color-light;
    box-shadow: 1rem 1rem 2.4rem rgba(0, 0, 0, 0.03);
    border-radius: 0.3rem;
}

.equipment__img-box {
    max-width: 14.3rem;
    margin-bottom: 4.8rem;
    margin-left: auto;
    margin-right: auto;
}

.equipment__name {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.equipment .owl-carousel {
    .owl-nav {
        margin-top: 3.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    button.owl-prev,
    button.owl-next {
        height: 2.9rem;
        width: 2.9rem;
        background-color: $color-primary;
        background-image: url('../img/svg-icons/slider-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1rem 1rem;
        z-index: 99;
        transition: all .2s;

        &:hover {
            opacity: 0.8;
        }
    }

    button.owl-next {
        transform: rotate(180deg);
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        transform: translateY(-100%);

        @media (max-width: 479px) {
            margin-top: 2rem;
            transform: translateY(0);
        }
    }

    .owl-dot {
        height: 1.3rem;
        width: 1.3rem;
        border: 1px solid $color-primary;
        border-radius: 1px;
        margin-left: 0.65rem;
        margin-right: 0.65rem;
        flex: none;
    }

    .owl-dot.active {
        height: 1.5rem;
        width: 1.5rem;
        background: linear-gradient(346.15deg, #7E090D -29.27%, #F76649 111.91%), #7E090D;
        border: 1px solid transparent;
    }
}

