$font-primary: 'Acrom', sans-serif;
$color-primary: #26282F;
$color-form-text: #3D3D3D;
$color-dark: #000000;
$color-grey: #CACACA;
$color-light: #FFFFFF;
$content-width: 1200px;
$content-padding: 15px;
